
.idea/aphid-test.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
data/__pycache__/aphid4k.cpython-311.pyc
__pycache__/solver.cpython-311.pyc
data/__pycache__/aphid4k.cpython-311.pyc
data/__pycache__/aphid4k.cpython-311.pyc
data/__pycache__/augmentations.cpython-311.pyc
data/__pycache__/augmentations.cpython-37.pyc
*.pyc
